{% extends 'base.html' %}
{% block content %}

<h1>Butterfly Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ butterfly.name }}</span>
    <p>Type: {{ butterfly.type }}</p>
    <p>Description: {{ butterfly.description }}</p>
    {% if butterfly.age > 0 %}
      <p>Age: {{ butterfly.age }}</p>
    {% else %}
      <p>Age: Just Hatched</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'butterflies_update' butterfly.id %}">Edit</a>
    <a href="{% url 'butterflies_delete' butterfly.id %}">Delete</a>
  </div>
</div>

{% endblock %}